<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}RHONE AUTO VENTE{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/rav.css') }}" />
    </head>
    <body>
    <header>
        <h2>RHONE AUTO VENTE</h2></br>
    </header>
    <nav id="sidebar">

        <input type="button" value="Accueil" onclick="self.location.href='/'"style="width: 120px"/>
        <input type="button" value="Inscription" onclick="self.location.href='register'"style="width: 120px"/>
        <input type="button" value="Connexion" onclick="self.location.href='login'"style="width: 120px"/>
        <input type="button" value="Catalogue" onclick="self.location.href='auto'"style="width: 120px"/>
        <input type="button" value="Ajout véhicule" onclick="self.location.href='insertAuto'"style="width: 120px"/>

    </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
