{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rav.css') }}"/>
{% endblock %}

{% block body %}

    {% if error is not null %}
        {{ error }}
    {% endif %}
    <header></header>
    <form action="/insertAuto" method="post">
        <input type="text" placeholder="marque" name="marque"/>
        <input type="text" placeholder="modele" name="modele"/>
        <input type="text" placeholder="carburant" name="carburant"/>
        <input type="text" placeholder="kilometrage" name="kilometrage"/>
        <input type="text" placeholder="annee" name="annee"/>
        <input type="text" placeholder="portes" name="portes"/>
        <input type="text" placeholder="prix" name="prix"/>
        <input type="submit" value="soumettre"/>
    </form>
{% endblock %}