{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rav.css') }}" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block body %}

    {% if error is not null %}
        {{ error }}
    {% endif %}
<nav>
    Enregistrement des nouveaux véhicules
</nav>
    <form action="/insertAuto" method="post" >
        Marque : <input type="text" placeholder="marque" name="marque" /></br>
        Modèle : <input type="text" placeholder="modele" name="modele" /></br>
        Carburant : <input type="text" placeholder="carburant" name="carburant" /></br>
        Kilometrage : <input type="text" placeholder="kilometrage" name="kilometrage" /></br>
        Année : <input type="text" placeholder="annee" name="annee" /></br>
        Nombre de portes : <input type="text" placeholder="portes" name="portes" /></br>
        Prix : <input type="text" placeholder="prix" name="prix" />

        <button type="submit" value="soumettre" >Enregistrer</button>
    </form>
{% endblock %}